<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr {{object.user.username}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<article class="doctor-profile panel">

    {% if object.photo %}
        <img src="{{ object.photo.url }}" alt="Doctor photo">
    {% else %}
        <img src="/media/user.png" alt="Default photo">
    {% endif %}
    <a href="{% url 'doctors_list' %}">← Назад к списку врачей</a>

    <div class="doctor-profile-content">

        <span class="eyebrow">Doctor Profile</span>

        <h1>Dr. {{ object.user.username }}</h1>

        <div class="doctor-profile-info">
            <div>
                <span>Специальность</span>
                <strong>{{ object.speciality }}</strong>
            </div>

            <div>
                <span>Город</span>
                <strong>{{ object.city }}</strong>
            </div>

            <div>
                <span>Клиника</span>
                <strong>{{ object.clinic }}</strong>
            </div>

            <div>
                <span>Опыт</span>
                <strong>{{ object.experience }} лет</strong>
            </div>
        </div>

        <div class="doctor-bio">
            <h3>О враче</h3>
            <p>{{ object.bio }}</p>
        </div>

        {% if request.user == object.user %}
            <div class="owner-actions">
                <a class="button" href="#">Редактировать профиль</a>
                <a class="button danger-button" href="#">Удалить профиль</a>
            </div>
        {% endif %}

    </div>

</article>
</body>
</html>