<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if profile.role == Doctor %}
            {{profile.user.username}}
        {% else %}
            {{profile.user.username}}
        {% endif %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main class="auth-page">
        <section class="auth-panel">
            <a href="{% url 'global_chat' %}">Советы</a>
            {% block main %}
            {% endblock %}
        </section>
    </main>
</body>
</html>
