{% extends "accounts/base.html" %}
{% block body_class %}auth-page{% endblock %}
{% block title %}Восстановление пароля{% endblock %}
{% block main %}
<h2>Восстановление пароля</h2>
<form action="" method="post">
    {% csrf_token %}
    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="Введите email" required>
    <button type="submit">Отправить код</button>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</form>
<div class="auth-link">
    <p>Вспомнили пароль? <a href="{% url 'login' %}">Войти</a></p>
</div>
{% endblock %}
