{% extends "accounts/base.html" %}
{% block body_class %}auth-page{% endblock %}
{% block title %}Вход{% endblock %}
{% block main %}
<form action="" method="post">
    {% csrf_token %}
    <h2>Вход</h2>
    <label for="username">Имя пользователя</label>
    <input type="text" placeholder="Введите имя пользователя" name="username" id="username">
    
    <label for="password">Пароль</label>
    <input type="password" placeholder="Введите пароль" name="password" id="password">
    
    <button type="submit">Войти</button>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</form>
<div class="auth-link">
    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    <p>Уже есть код? <a href="{% url 'confirm' %}">Подтвердить email</a></p>
    <p>Забыли пароль? <a href="{% url 'forget_password' %}">Восстановить</a></p>
</div>
{% endblock %}
