{% extends "accounts/base.html" %}
{% block body_class %}auth-page{% endblock %}
{% block title %}Регистрация{% endblock %}
{% block main %}
<h2>Регистрация</h2>
<form action="" method="post">
    {% csrf_token %}
    <label for="username">Имя пользователя</label>
    <input type="text" placeholder="Введите имя пользователя" name="username" id="username">
    <label for="email">Email</label>
    <input type="email" placeholder="Введите email" name="email" id="email">
    <label for="phone">Телефон</label>
    <input type="tel" placeholder="Введите телефон" name="phone" id="phone" required>
    <label for="age">Возраст</label>
    <input type="number" placeholder="Введите возраст" name="age" id="age" required>
    <label for="city">Город</label>
    <input type="text" placeholder="Введите город" name="city" id="city">
    <label for="password">Пароль</label>
    <input type="password" placeholder="Введите пароль" name="password" id="password">
    <label for="password2">Подтверждение пароля</label>
    <input type="password" placeholder="Повторите пароль" name="password2" id="password2">
    <button type="submit">Создать аккаунт</button>
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
</form>
<div class="auth-link">
    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    <p>Уже получили код? <a href="{% url 'confirm' %}">Подтвердить email</a></p>
</div>
{% endblock %}
