{% extends 'accounts/base.html' %}
{% block body_class %}auth-page{% endblock %}
{% block title %}Новый пароль{% endblock %}
{% block main %}
<h2>Новый пароль</h2>
<form action="{% url 'reset_confirm' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ email }}">
    <label for="code">Код</label>
    <input type="text" name="code" placeholder="Введите код" id="code" required>
    <label for="password">Новый пароль</label>
    <input type="password" name="password" placeholder="Введите новый пароль" id="password" required>
    <label for="password2">Подтверждение пароля</label>
    <input type="password" name="password2" placeholder="Повторите новый пароль" id="password2" required>
    <button class="btn" type="submit">Сохранить пароль</button>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</form>
<div class="auth-link">
    <p>Вспомнили пароль? <a href="{% url 'login' %}">Войти</a></p>
</div>
{% endblock %}
