<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Chat</title>
    <style>
        img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    </style>
</head>
<body>

    <h1>Global Chat</h1>
        <a href="{% url 'redirect_dashboard' %}">Home</a>

    {% for i in messages %}
        <div>
            {% if i.user.profile.photo %}
                <img src="{{ i.user.profile.photo.url }}">
            {% endif %}
            <a href="{% url 'profile' i.user.username %}">
                <b>{{ i.user.username }}</b>
            </a>
            <p>{{ i.text }}</p>

            <p>❤️{{i.likes.count}}</p>
            <p>{{i.dizlikes.count}}</p>

            <a href="{% url 'like' i.id %}"><img src="../../media/like.png" alt=""></a>
            <a href="{% url 'dizlike' i.id %}"><img src="../../media/dizlike.png" alt=""></a>
            {% if request.user == i.user %}
            
                <a href="{% url 'delete_message' i.id %}"><img src="../../media/delete.png" alt=""></a>
            {% endif %}
        </div>

        <hr>
    {% empty %}
        <p>No messages yet</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <input  type="text" name="text" placeholder="Write message...">
        <button type="submit">Send</button>
    </form>

</body>
</html>