{% extends "accounts/base.html" %}
{% block title %}Чат с {{ profile.username }}{% endblock %}
{% block main %}
<h1>Чат с {{ profile.username }}</h1>

<ul class="chat-list">
    {% for i in messages %}
        <li class="chat-message">
            <div class="meta">
                <b>{{ i.sender.username }}</b>
            </div>
            <p>{{ i.text }}</p>
            {% if i.is_readed %}
                <p class="muted">Прочитано</p>
            {% else %}
                <p class="muted">Не прочитано</p>
            {% endif %}
        </li>
    {% empty %}
        <p class="muted">Сообщений нет</p>
    {% endfor %}
</ul>

<form class="chat-form chat-form-inline" action="" method="post">
    {% csrf_token %}
    <input class="chat-input" type="text" placeholder="Напишите сообщение..." name="text">
    <button class="chat-send" type="submit">Отправить</button>
</form>
{% endblock %}