<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li><a href="{% url 'redirect_dashboard' %}">Главная</a></li>
    {% for i in appointments %} 
        <b>{{i.patient}}</b>
        <p>{{i.date}}</p>
        <p>{{i.status}}</p>
        <p>{{i.created_at}}</p>
        {% if request.user == i.user %}
            <form action="{% url 'delete_appointment' i.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
        {% endif %} <hr>
    {% empty %}
        <p>appointments not found</p>
    {% endfor %}
</body>
</html>