<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document
    </title>
</head>
<body>
    <h1>Welcome {{user.username}}</h1>
    <h2>Patient Dashboard</h2>
    <a href="{% url 'login' %}">Logout</a>
    <a href="{% url 'my_profile' %}">My profile</a>
    <a href="{% url 'global_chat' %}">Советы</a>
    
    {% if answer %}
        <p>{{ answer }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        
        <input
            type="text"
            name="symptom"
            placeholder="What hurts?"
        >
        
        <button type="submit">
            Ask AI
        </button>
    </form>
    
</body>
</html>